.body{
       font: 20px, Arial sans-serif;
        color: rgb(9, 61, 44);
}
.navbar {
    background-color: #abd8af

}
.quem-somos {
    background-color: white
    cornflowerblue
    
}
.margin {
    padding-bottom: 50px;
    color: rgb(110, 110, 76);
    padding-top: 20px;
}       
.Parceiros {
    background-color: rgb(189, 189, 249);
}

.big-footer {
    background-color: rgb(205, 214, 211);
    color: rgb(26, 37, 59);
}